<h1 class="title">Smiles - Get you some.</h1>

<div class="super_container">      
  <div class="text_container">

  <%= form_for Jubilation.create do |f| %>
    <%= f.text_field :content %>
    <%= f.submit class: "button", :id => "jub-submit"%>
  <% end %>
  <div id="jub-container">
    <%= render("jubilations/jubilations") %>
  </div>
</div>

  <div class="lesser_container">
    <% votes = @image.vote_score %>
    <% votes = "#{@image.vote_score}" if @image.vote_score.to_s.length == 1 %>
    <div class="image_arrows">
      <div class="arrows up">
        <a class="img-arrow" href="/images/<%= @image.id %>/up"><i class="fa fa-arrow-up"></i></a>
      </div>
      <p><%= votes %> </p>
      <div class="arrows image_down">
        <a href="images/<%= @image.id %>/down"><i class="fa fa-arrow-down "></i></a>
      </div>
    </div>

    <div class="image_container">
      <%= form_tag("/", method: :get) do %>      
        <%= submit_tag("Show Me More!", id: "img-more", class: "button")%>
      <% end %>  
      <div id="inner_image_container">
        <%= image_tag(@image.path) %>
      </div>
    </div>

    <%= form_tag("/images/create", method: :post) do %>
      <%= text_field_tag :path, nil, size: 50, placeholder: "Add a Photo of your Own!" %><br>  
      <%= submit_tag("Submit Happiness", id: "submit", class: "button")%><br>
    <% end %>
  </div>
</div>

